@font-face {
    font-family: 'iconfont';
    src: url('assets/fonts/iconfont.ttf?j9yebs') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ICON-01:before {
    content: "\e900";
}
.icon-ICON-02:before {
    content: "\e901";
}
.icon-ICON-03:before {
    content: "\e902";
}
.icon-ICON-04:before {
    content: "\e903";
}
.icon-ICON-05:before {
    content: "\e904";
}
.icon-ICON-06:before {
    content: "\e905";
}
.icon-ICON-07:before {
    content: "\e906";
}
.icon-ICON-08:before {
    content: "\e907";
}
.icon-ICON-09:before {
    content: "\e908";
}
.icon-ICON-10:before {
    content: "\e909";
}
.icon-ICON-11:before {
    content: "\e90a";
}
.icon-ICON-12:before {
    content: "\e90b";
}
.icon-ICON-13:before {
    content: "\e90c";
}
.icon-ICON-14:before {
    content: "\e90d";
}
.icon-ICON-15:before {
    content: "\e90e";
}
.icon-ICON-16:before {
    content: "\e90f";
}
.icon-ICON-17:before {
    content: "\e910";
}
.icon-ICON-18:before {
    content: "\e911";
}
.icon-ICON-19:before {
    content: "\e912";
}
.icon-ICON-20:before {
    content: "\e913";
}
.icon-ICON-21:before {
    content: "\e914";
}
.icon-ICON-22:before {
    content: "\e915";
}
.icon-ICON-23:before {
    content: "\e916";
}
.icon-ICON-24:before {
    content: "\e917";
}
.icon-ICON-25:before {
    content: "\e918";
}
.icon-ICON-26:before {
    content: "\e919";
}
.icon-ICON-27:before {
    content: "\e91a";
}
.icon-ICON-28:before {
    content: "\e91b";
}
.icon-ICON-29:before {
    content: "\e91c";
}
.icon-ICON-30:before {
    content: "\e91d";
}
.icon-ICON-31:before {
    content: "\e91e";
}
.icon-ICON-32:before {
    content: "\e91f";
}
.icon-ICON-33:before {
    content: "\e920";
}
.icon-ICON-34:before {
    content: "\e921";
}
.icon-ICON-35:before {
    content: "\e922";
}
.icon-ICON-36:before {
    content: "\e923";
}
.icon-ICON-39:before {
    content: "\e927";
}
.icon-ICON-40:before {
    content: "\e924";
}
.icon-ICON-41:before {
    content: "\e925";
}
.icon-ICON-42:before {
    content: "\e926";
}
.icon-ICON-43:before {
    content: "\e928";
}